
<i class="fa-slab fa-regular fa-angle-left"></i>
<i class="fa-slab fa-regular fa-angle-right"></i>
<i class="fa-slab fa-regular fa-angle-up"></i>
<i class="fa-slab-press fa-regular fa-arrow-down-to-line"></i>
<i class="fa-slab-press fa-regular fa-bars"></i>
<i class="fa-slab-press fa-regular fa-bag-shopping"></i>
<i class="fa-slab-press fa-regular fa-bell"></i>
<i class="fa-slab-press fa-regular fa-check"></i>
<i class="fa-slab-press fa-regular fa-moon"></i>
<i class="fa-slab-press fa-regular fa-phone"></i>
<i class="fa-slab-press fa-regular fa-microphone"></i>

<i class="fa-slab-press fa-regular fa-sun"></i>
<i class="fa-slab-press fa-regular fa-user"></i>

<i class="fa-slab-press fa-regular fa-thumbs-up"></i>

<i class="fa-slab-press fa-regular fa-thumbs-down"></i>




