{% extends 'main/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} | Shopping Page {% endblock title %}
<!--  -->
{% block content %}
<div class="product-container">
  <div class="product-headings">
    <strong class="prod-headings">Biggest Sale of the Year: Shop Now.</strong>
    <div class="product-text-content">
      <img src="{% static '/images/bg-color-3.jpg' %}" alt="Photo-bg" />
      <p class="product-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde aliquid
        iusto saepe ipsa maiores nemo sint nobis incidunt recusandae dolorum,
        doloremque laborum, est dolore ea.
      </p>
    </div>
  </div>

  {% include 'includes/category.html' %}
  <!--  -->
  {% load rating_stars %}
  <!--  -->
  {% if categories %}
  <div class="select-products">
    <select name="" id="" class="cat">
      <option value="">Categories</option>
      {% for category in categories %}
      <option value="" id="">
        <a href="{% url 'category_products' category.slug %}"
          >{{ category.name }}</a
        >
      </option>
      {% endfor %}
    </select>

    <!-- SORTING -->
    <select name="" id="" class="cat">
      <option value="">Sorts</option>
      {% for product in products %}

      <option value="" id="">
        <a href="{% url 'category_products' product.slug %}"
          >{{ product.name }} - ₦{{ product.price }}</a
        >
      </option>
      {% endfor %}
    </select>
  </div>

  {% endif %}

  <div class="products-list">
    <div class="prod-bg">
      <p></p>
    </div>

    <div class="prod-views">
      {% for product in page_obj %}
      <div class="prod-conn">
        <div class="product-img">
          {% if product.product_image %}
          <!--product.slug-->
          <a href="{% url 'product_detail' product.id product.slug %}">
            <!--Product.slug-->
            <img
              src="{{ product.product_image.url }}"
              alt="{{ product.name }}"
            />
          </a>
          {% else %}
          <p class="">The image is not available.</p>
          {% endif %}
        </div>

        <span class="prod-title">
          <h3>{{ product.name }}</h3>
          <!-- <a
            href="{% url 'add_to_wishlist' product.id %}"
            class="wishlist-icon"
          >
            <i
              class="fa fa-heart {% if product.id in user_wishlist %} filled {% endif %}"
            ></i> -->
          <!-- </a> -->
          <button class="wishlist-btn" data-id="{{ product.id }}">❤️</button>
        </span>

        <p class="product-desc">{{ product.desc | truncatewords:15}}</p>
        <div class="product_rating_tag">
          <!--I'm to take this line to product details: -->
          <p class="">Available: {{ product.available }}</p>

          <p class="ratings">
            <span id="rating-{{ product.id }}"
              >{{ product.average_rating | rating_stars }}</span
            >
          </p>
          <p id="message-{{ product.id }}"></p>
          <form action="" id="rating-form-{{ product.id }}" class="rating-form">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}" />
            <div class="star-rating">
              <input
                type="radio"
                id="star5-{{ product.id }}"
                name="rating"
                value="5"
              /><label for="star5-{{ product.id }}">&#9733;</label>
              <input
                type="radio"
                id="star4-{{ product.id }}"
                name="rating"
                value="4"
              /><label for="star4-{{ product.id }}">&#9733;</label>
              <input
                type="radio"
                id="star3-{{ product.id }}"
                name="rating"
                value="3"
              /><label for="star3-{{ product.id }}">&#9733;</label>
              <input
                type="radio"
                id="star2-{{ product.id }}"
                name="rating"
                value="2"
              /><label for="star2-{{ product.id }}">&#9733;</label>
              <input
                type="radio"
                id="star1-{{ product.id }}"
                name="rating"
                value="1"
              /><label for="star1-{{ product.id }}">&#9733;</label>
            </div>

            <!-- <button type="button" id="remove-rating-{{ product.id }}" class="remove-rating">Remove Rating</button> -->
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1" class="page_prev">&laquo; </a>
      <a href="?page={{ page_obj.previous_page_number }}" class="page_prev"
        >Prev:</a
      >
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="page_next">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="page_next"
        >&raquo;</a
      >
      {% endif %}
    </span>
  </div>

  <script>
    document.querySelector(".wishlist-icon").addEventListener("click", () => {
      event.preventDefault();
      const url = this.href;
      fetch(url, {
        method: "GET",
        headers: {
          "X-Requested-With": "XMLHttpRequest",
        },
      }).then((Response) => Response.json()).then;
    });

    // WISHLIST BUTTON CODE:
    document.querySelectorAll(".wishlist-btn").forEach((btn) => {
      btn.addEventListener("click", function () {
        fetch("/wishlist/toggle/", {
          method: "POST",
          headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: "product_id=" + this.dataset.id,
        })
          .then((res) => res.json())
          .then((data) => {
            alert(data.status);
          });
      });
    });
  </script>
</div>
{% endblock content %}
