* {
  box-sizing: border-box;
  font-family: "Ovo", serif;
}

:root {
  --color-btn: #145bc8;
  --color-btn-2: #27a4f8;
  --color-blackground: #121345;
  --color-eaf: #eaf;
  --color-viomes: #c20cf0;
  --color-secondary: #008080;
  --color-white: #ffffff;
  --color-deno: #020340;
  --color-text: #fff5ee;
  --color-text-dark: #050200;
  --color-text-2: #c0c0c0;
  --color-pups: #800080;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", Arial, sans-serif;
}
.header {
  background-color: var(--color-blackground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  max-height: 60px;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
}
.myLogo {
  display: flex;
  align-items: center;
  gap: 2%;
  text-decoration: none;
}
.myLogo img {
  object-fit: cover;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.myLogo span {
  padding-left: 2px;
  font-size: 22px;
  font-weight: 600;
  color: #008000;
  -webkit-text-stroke: 2.5px #ff0000;
}
.myLogo span:hover {
  color: var(--color-btn-2);
  transition: all 0.3s ease-in-out;
}
.cart_product_link a {
  color: #c0c0c0;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

/** Cart Page Section **/
.carts {
  padding: 30px 40px;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cart-urs {
  color: #27a4f8;
  font-size: 25px;
  font-weight: 600;
}
.cart_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_images {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}
h3 {
  font-size: 25px;
  font-weight: 600;
}
.cart_product_image {
}
.cart_product_image img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  padding: 10px 10px;
  border-radius: 4px;
}
.cart_product_name_quantity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
}

/* .logout {
  padding-right: 20px;
}
.logout a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #c0c0c0;
}
.signup-container {
  padding: 10px 20px;
  background-color: var(--color-white);
  margin-top: 5%;
} */
/* / */

/** LOGIN PAGE SECTION **/
.login-span label {
  margin-bottom: 2%;
}
/** PASSWORD RESET PAGE SECTION **/
.label-control {
  margin-bottom: 5%;
}

/** PRODUCT DETAILS PAGE SECTION **/
.prod-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px;
  background-color: var(--color-blackground);
}
.Logo {
  padding: 10px;
}
.myLogo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
}
.prod-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn-cart-product {
  flex-basis: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.btn-add_to_cart {
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: #008080;
  color: #c0c0c0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.btn-add_to_cart:hover {
  background-color: #145bc8;
  transition: all 0.3s ease-in-out;
}
.contact-seller {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #27a4f8;
  color: #c0c0c0;
  border-radius: 4px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 600;
}
.contact-seller:hover {
  background-color: #145bc8;
  transition: all 0.3s ease-in-out;
}
