
:root {
  --color-btn: #145bc8;
  --color-btn-2: #27a4f8;
  --color-blackground: #121345;
  --color-eaf: #EAF;
  --color-viomes: #C20CF0;
  --color-secondary: #008080;
  --color-white: #ffffff;
  --color-deno: #020340;
  --color-text: #fff5ee;
  --color-text-2: #c0c0c0;
  --color-pups:#800080;
}
* {
  box-sizing: border-box;
  font-family: "Ovo", serif;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", Arial, sans-serif;
}
.header {
  background-color: var(--color-blackground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  max-height: 60px;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
}
.myLogo {
  display: flex;
  align-items: center;
  gap: 2%;
  text-decoration: none;
}
.myLogo img {
  object-fit: cover;
}
.myLogo span {
  padding-left: 2px;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-btn);
  -webkit-text-stroke: 2.5px var(--color-btn);
}
.myLogo span:hover {
  color: var(--color-btn-2);
  transition: all .3s ease-in-out;
}
.logout {
  padding-right: 20px;
}
.logout a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #c0c0c0;
}
.signup-container {
  padding: 10px 20px;
  background-color: var(--color-white);
  margin-top: 5%;
}
.signup-form-container, .login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-headings {
  padding-top: 5px;
  margin-bottom: 5px;
}
.form-sub-headings {
  margin-top: 10px;
  margin-bottom: 5px;
}
.form-sub-headings p {
  color: var(--color-secondary);
  font-weight: 600;
}
/** FORM SECTIONS **/
.messages li {
  color: #ff0000;
  font-size: 16px;
  font-weight: 600;
}
.form-div {
  flex-direction: column;
  width: 80%;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--color-blackground);
  padding: 20px;
  padding-left: 40px;
  margin-left: 10%;
}
 .form-div strong {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
  color: var(--color-white);
}
.signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  background-color: var(--color-text-2);
  width: 70%;
  margin-left: 15%;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.6);
}
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-text-2);
  width: 70%;
  margin-left: 15%;
  border-radius: 6px;
  padding: 10px;
  line-height: 1;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.6);
} 
.form-contents {
  padding-top: 20px;
  margin-left: 3%;
  padding-bottom: 5px;
}
.login-form-contents {
  padding-top: 20px;
  margin-left: 6%;
  padding-bottom: 20px;
  position: relative;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.form-control {
  margin-bottom: 35px;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  position: relative;
}
.login-control {
  margin-bottom: 35px;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  position: relative;
}
.form-control label {
  position: absolute;
  top: -2%;
  margin-top: -5%;
  margin-bottom: 2%;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
.login-control label {
  position: absolute;
  top: -2%;
  margin-top: -5%;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
.form-control input {
  padding: 7px 15px;
  outline: none;
  border: none;
  width: 80%;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  flex: 1;
  color: var(--color-blackground);
}
.login-control input {
  padding: 7px 15px;
  outline: none;
  border: none;
  width: 80%;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  flex: 1;
  color: var(--color-blackground);
}
::placeholder {
  color: var(--color-blackground);
  font-size: 16px;
}
.signup-form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.signup-form-control a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-btn);
}
.signup-form-control a:hover {
  color: var(--color-deno);
  transition: all .3s ease-in-out;
  text-decoration: underline;
}
.login-form-control {
  display: flex;
  align-items: start;
  justify-content: left;
  flex-direction: column;
}
.login-form-control a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-btn);
}
.login-form-control a:hover {
  color: var(--color-deno);
  transition: all .3s ease-in-out;
  text-decoration: underline;
}
.term-form-control {
  gap: 3px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 30px;
}
.term-form-control p {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.term-form-control a {
  color: var(--color-deno);
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding-left: 4px;
  padding-right: 4px;
}
.term-form-control a:hover {
  color: var(--color-btn);
  transition: all .3s ease-in-out;
  text-decoration: underline;
}
.signup-btn {
   margin-left: 40%;
  padding: 8px 15px;
  cursor: pointer;
  background-color: var(--color-btn);
  color: #ffffff;
  border: none;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.login-btn {
  margin-left: 38%;
  padding: 8px 15px;
  cursor: pointer;
  background-color: var(--color-btn);
  color: #ffffff;
  border: none;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.signup-btn:hover, .login-btn:hover {
  background-color: var(--color-btn-2);
  transition: all .3s ease-in-out;
}
.or-text {
  margin-top: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-sos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}
.login-sos a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  padding: 10px 10px;
  border: 2px solid slateblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-sos a:hover {
  background-color: var(--color-pups);
  opacity: 0.4;
  transition: all .3s ease-in-out;
  color: var(--color-white);
}
.social-links img {
  width: 20px;
  border-radius: 50%;
}
.signup-img {
  width: 20px;
  border-radius: 50%;
}


/** LOGIN PAGE SECTION **/
.login-span label {
  margin-bottom: 2%;
}
/** PASSWORD RESET PAGE SECTION **/
.label-control {
  margin-bottom: 5%;
}







