@media screen and (max-width: 668px) {
  .header {
    padding: 0;
    .navbar {
      -webkit-margin-collapse: collapse;
    }
  }
  .screen-vid {
    width: 100px;
  }

  /** CONTACT SECTION **/
  

 
}